<li id="comment-<%= comment._id %>">
    <p>
        <% if(locals.user && (locals.user.id == comment.user.id)) {%>
            <small>
                <a class="delete-comments-button" href="/comments/destroy/<%= comment.id %>">
                    <i class="fa-regular fa-circle-xmark"></i>
                </a>
            </small>
        <%}%>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
</li>