<footer>
    <h3>₸ Taranpreet Singh. All Rights Reserved</h3>
    <div id="links">
        <a href="/">Home</a>
        <% if(locals.user) {%>
            <a href="/users/profile/<%= locals.user.id %>">Profile</a>
        <% } %>
    </div>
</footer>