<header>
    
    <h3 id="site-name">
        <a href="/">
            <img id="site-logo" src="<%= assetPath('images/site-logo.png') %>">
            <span>raser</span>
        </a>
    </h3>
    <ul>
        <% if(locals.user){%>
            <li><a href="/users/profile/<%= locals.user.id %>"><%= user.name %></a></li>
            <li><a href="/users/signout">Sign Out</a></li>
        
        <% } else { %>
            <li><a href="/users/signin">Sign in</a></li>
            <li><a href="/users/signup">Sign up</a></li>
        <%}%>
    </ul>
</header>