<link rel="stylesheet" type="text/css" href="<%= assetPath('css/signin.css') %>">

<form action="/users/create-token" method="post">
    <h1>Forget Password!</h1>
    <input type="email" name="email" placeholder="Enter your email here" required> 
    <input type="submit" placeholder="submit">
</form>