<link rel="stylesheet" type="text/css" href="<%= assetPath('css/signin.css') %>">

<form action="/users/signup/create" method="post">
    <h1>Signup</h1>
    <input name="name" type="text" placeholder="Your Name" required>
    <input name="email" type="email" placeholder="Your Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <input name="confirm_password" type="password" placeholder="Confirm Password" required>
    <button type="submit">Submit</button>
    <p>
        <a href="/users/signin">Already a user? Click <span class="highlight">here</span> to sign in</a>
    </p>
    <p id="other-login">
        Or You can Login with: 
        <br>
        <a href="/users/auth/google"><img src="<%= assetPath('images/Google_logo.png') %>" alt="Google Signin/Signup"></a>
    </p>
</form>