<link rel="stylesheet" type="text/css" href="/css/signin.css">

<form action="/users/signin/create-session" method="post">
    <h1>Signin Form</h1>
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <button type="submit">Submit</button>
</form>