<link rel="stylesheet" type="text/css" href="/css/signin.css">

<form action="/users/signup/create" method="post">
    <h1>Signup Form</h1>
    <input name="name" type="text" placeholder="Your Name" required>
    <input name="email" type="email" placeholder="Your Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <input name="password" type="confirm_password" placeholder="Confirm Password" required>
    <button type="submit">Submit</button>
</form>