<link rel="stylesheet" type="text/css" href="<%= assetPath('css/signin.css') %>">

<form action="/users/verify" method="post">
    <h1>Verify User!</h1>
    <small>Note! Otp is only valid for 5 minutes</small>
    <input type="text" name="token" placeholder="Enter your OTP here" required>
    <input type="submit" placeholder="Submit">
</form>