header{
    width: 100%;
    background-color: #88d9e6fd;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    font-size: 1.5rem;
    position: sticky;
    top: 0;


    

    #site-name{
        a{
            text-decoration: none;
            color: white;
        }
        #site-logo{
            width: 2.2rem;
        }
        span{
            margin-left: -11px;
        }
        margin: 5px;
    }

    ul{
        display: flex;
        list-style-type: none;
        margin: 5px;
        margin-top: 10px;

        li{
            margin-left: 10px;


            a{
                text-decoration: none;
                color: white;
            }
            a:hover{
                color: rgb(47, 97, 117);
            }
        }
    }
}