#user-chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 350px;
  padding: 5px;
  border: 10px solid #edc794;
  box-shadow: 0px 0px 3px 1px black;
  background-color: white;
  border-radius: 20px; }
  #user-chat-box #chat-message-list {
    list-style-type: none;
    padding: 10px;
    height: 70%;
    overflow: auto;
    font-size: 1.3rem; }
    #user-chat-box #chat-message-list .other-message {
      text-align: left;
      padding: 5px; }
      #user-chat-box #chat-message-list .other-message span {
        border-radius: 10px;
        display: inline-block;
        padding: 15px;
        background-color: rgba(255, 40, 40, 0.703); }
    #user-chat-box #chat-message-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box #chat-message-list .self-message span {
        border-radius: 10px;
        display: inline-block;
        padding: 15px;
        background-color: rgba(38, 197, 38, 0.735); }
  #user-chat-box #chat-message-input-container {
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 50%;
      width: 80%; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 50%;
      width: 20%;
      border: none;
      padding: 0;
      background-color: white;
      color: green; }
      #user-chat-box #chat-message-input-container #send-message i {
        font-size: 30px; }
    #user-chat-box #chat-message-input-container #send-message:hover {
      background-color: green;
      color: white; }
