body {
  background-color: antiquewhite; }
  body main {
    display: flex;
    align-items: center;
    justify-content: center; }
  body form {
    width: 30%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 10px;
    background-color: #edc794; }
    body form label {
      font-size: 1.5rem; }
    body form input {
      max-width: 80%;
      font-size: 1.5rem;
      padding: 5px;
      margin: 5px auto;
      border-radius: 10px; }
    body form button {
      font-size: 1.2rem;
      height: 50px;
      width: 30%;
      border-radius: 15px;
      margin-bottom: 10px; }
    body form button:hover {
      background-color: #efa84b; }
    body form a {
      text-decoration: none;
      color: black; }
  body .highlight {
    color: red; }
  body #other-login {
    display: flex;
    flex-direction: column;
    margin-top: 5px; }
    body #other-login a {
      margin: auto;
      margin-top: 5px; }
      body #other-login a img {
        width: 50px; }
